.addi {
    height: 100vh;
    background: url("https://img.freepik.com/premium-vector/urban-vector-city-map-kharkiv-ukraine-europe_601748-13626.jpg?w=1480");
    background-size: cover;
    background-position: center;
}